* {
  margin: 0;
  padding: 0;
}

body {
  background: #282a36;
}

body hr {
  border: 0.1rem solid #ff5555;
}

body header {
  margin: 1rem;
  display: grid;
  grid-template-columns: 5fr 2fr;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

body header .name h2 {
  align-items: initial;
  font-family: "Press Start 2P";
  font-size: 4rem;
  margin-top: 1.8rem;
  color: #50fa7b;
  text-shadow: #ff79c6 0.1em 0.1em;
}

body header .incons {
  display: inline-block;
}

body header .incons ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin-top: 2.2rem;
}

body header .incons ul li {
  list-style: none;
  display: inline;
  margin: 0.4rem;
}

body header .incons ul li button{
  border: none;
  background-color: #282a36;
}

body header .incons ul li img {
  width: 3rem;
  margin: 0.1rem;
}

body main {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

body main .text {
  text-indent: 1rem;
  text-align: justify;
  margin-right: 1rem;
}

body main div + div {
  margin-top: 2rem;
}

body main h3 {
  font-family: "Open Sans";
  font-size: 1.5rem;
  color: #ff79c6;
  text-shadow: #50fa7b 0.1em 0.1em;
}

body main p + p {
  margin-top: 0.7rem;
}

body main p {
  font-family: "Archivo";
  font-size: 1.2rem;
  color: #f8f8f2;
  margin-left: 1rem;
  margin-top: 0.5rem;
  text-shadow: #20212b 0.1em 0.1em;
}

body main p .yellow {
  color: #f1fa8c;
}

body main p .blue {
  color: #8be9fd;
}

body main ul {
  margin-top: 0.5rem;
}

body main ul li {
  font-family: "Archivo";
  font-size: 3rem;
  margin-left: 1rem;
  color: #f8f8f2;
  list-style: none;
  display: inline-block;
}